
*{
    box-sizing: border-box;
}



html{
    scroll-behavior: smooth; /*estilo mas elegante para deslizar a las secciones*/
}


body{
font-family: Verdana, Geneva, sans-serif;
    margin: 0;
}

h1{font-size: 1.25em;}
h2{font-size: 2.7em;}
h3{font-size: 2.0em; color:beige;}
p{font-size: 1.25em; color: #f6f2f2;}


.container{                 /*  */
    max-width: 1400px;     /*ancho maximo de container */
    margin:auto;         /*margen*/
}

button{
    font-size: 1em;
    padding: 10px 30px;
    border-radius: 110px;
    border: 0.3px solid rgba(0, 0, 0,0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0,0.5);
    
    background-color: rgba(34, 203, 8, 0.59);
    color: rgb(255, 255, 255);
}

button a {
    color: rgba(0, 0, 0, 0.794); /* Color del texto */
    text-decoration: none; /* Quita el subrayado */
}


button:hover{  /*propiedad para dar sombra al pasar el cursor sobre el boton*/
    background-color: rgba(255, 0, 255, 0.862);

}


/*  -------------------------------HEADER --------------------------------*/


header{
    background-color: rgb(4, 0, 0);  /*color de fondo de header*/
    /* height: 60px; Altura deseada del header */
}

header .container{    
    display: flex;
    flex-direction: column;   /*elementos de contenedor en columna*/
    align-items: center;  /*centrarlos horizontalmente*/    
}

header a{
    padding: 0px 12px;
    text-decoration: none;   /*sin decoracion subrayado*/
    /*font-weight: bold;   negrita*/
    color: rgb(242, 252, 252);  
}

header .logo{ 
    margin: 0;
    padding: 10px  15px ;  /*bordes   (arriba, abajo), costados.*/    
}

header .search-container{ 
    
    padding: 4px  4px ;  /*bordes   (arriba, abajo), costados.*/    

}



header nav{
    display: flex;
    flex-direction: column;
    text-align: center;        /*alinear texto del nav*/
    padding-bottom: 25px;
    
}



header a:hover{    /*color al pasar cursor por encima*/
    color: rgb(255, 0, 238)
}

/* Estilos para el campo de búsqueda */
.search-container {
    position: relative; /* Asegura que el campo de búsqueda esté posicionado de manera relativa */
}

.search-box {
    width: 200px; /* Ancho del campo de búsqueda */
    padding: 8px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 30px; /* Borde redondeado */
    display: none; /* Ocultar el campo de búsqueda por defecto */
    position: absolute; /* Posiciona el campo de búsqueda de manera absoluta */
    left: -210px; /* Mueve el campo de búsqueda 210px hacia la izquierda para que esté al lado del botón */

}

.search-button {
    background-color: #faf5f5d9; /* Color de fondo del botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Borde redondeado */
    padding: 8px; /* Espaciado interno */
    cursor: pointer; /* Cursor de puntero */
}

/* Estilo cuando se pasa el cursor sobre el botón */
.search-button:hover {
    color: rgb(255, 0, 238)
    
}

/* Estilos para la imagen dentro del botón */
.search-button img {
    width: 16px; /* Ancho de la imagen de la lupa */
    height: auto; /* Altura automática */
}

/* Estilos para el botón de búsqueda */
.search-button {
    border: none; /* Sin borde */
    padding: 0; /* Sin relleno */
    cursor: pointer; /* Cursor de puntero */
    width: 29px; /* Ancho del botón */
    height: 29px; /* Altura del botón */
    background-image: url("media/2074.png") ; /* Ruta de la imagen de la lupa */
    background-size: cover; /* Ajusta la imagen para que cubra todo el botón */
    background-repeat: no-repeat; /* No repetir la imagen */
}



/*  -------------------------------Loggin --------------------------------*/


#loggin {
    background-color: rgb(0, 0, 0);
}


#loggin .container{
    width: 400px;
    background-color: #000000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    text-align: center;

}




form {
    margin-bottom: 20px;
}

form h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: aqua;
}

input[type="email"],
input[type="password"],
input[type="text"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a80000;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #00fbff6e;
    color: #fff;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #00e617bd;
}






/* ---------------------- SECCION RRSS, DIRECCION, MAS + -----------------*/

#seccion-final{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

#seccion-final .container{
    padding: 25px 0px;   /*ancho del container*/
}

#seccion-final h2{
    margin-top: 0;
    font-size: 12px;  
}

#seccion-final p{
    display: none;
}

#seccion-final .carta2{
    background-size: cover; /* Achica la imagen de fondo al 50% de su tamaño original en el eje x */
    background-position: center center; /* Centra la imagen de fondo */
    padding: 50px;
    margin: 25px;
    border-radius: 20px;
}

.carta2:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.098),
        rgba(0, 0, 0, 0.914) )
        ,url("media/maps.jpeg") ;
        border-radius: 110px;
}

.carta2:nth-child(2){
    
        border-radius: 110px;
}

.carta2:nth-child(3){
    
        border-radius: 110px;
    }

/*achicar seccion final*/

#seccion-final .productos{
    display: flex;
    justify-content: center;
}

#seccion-final p{
    display: block;
    margin-bottom: 20px; 
}

#seccion-final h3{
    margin-top: 0;
}

#seccion-final .carta2{
    padding:10px;
}

#seccion-final nav{
    display: flex;
    flex-direction: column;
    text-align: center;        /*alinear texto del nav*/
    padding-bottom: 25px;
}

#seccion-final a{
    padding: 10px 12px;
    text-decoration: none;   /*sin decoracion subrayado*/
    /*font-weight: bold;   negrita*/
    color: rgb(242, 252, 252);  
}

#seccion-final  a:hover{    /*color al pasar cursor por encima*/
    color: rgb(3, 247, 251)
}







/*-------------------------       FOOTER    --------------------------------*/


footer{
    background-color: rgb(1, 1, 1);   
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgba(243, 249, 243, 0.497);
    text-align: center;
    font-size: 0.8em;
}

footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.separate-images {
    display: flex;
    justify-content: space-between; /* Ajusta el espacio entre las imágenes */
    margin-top: 20px; /* Puedes ajustar el margen superior según tus necesidades */ 
}








 /* ---------CODIGOS PARA RESPONSE MOVIL/WEB -----------------*/

 @media (min-width:720px){

    header .container{
        flex-direction: row;    
        justify-content: space-between;
    }


    header nav{
        flex-direction: row;
        padding-bottom: 0;           
    }  

   
}

@media screen and (max-width: 768px) {
    .product{
        flex: 0 0 calc(100% - 20px); /* Cambiamos el tamaño de los contenedores al 100% cuando la pantalla sea más estrecha */
    }
}